.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}
.footer-brand-heading{
    font-family: "IBM Plex Mono", sans-serif;
}
.text{
    color: #373E40;
}
.footer-rounded-image{
    width: 78px;
    height: 78px;
}
.footer-line {
    margin: 15px;
    width: 100%;
    bottom: 0;
    left: 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 8%;
}

.footer-section {
    display: block;
    align-items: center;
    justify-content: center;
}

.footer-drive-flex-container{
    display: flex;
    align-items: center;
}

.footer-contact-info{
    display: block;
}
.footer-social-icon{
    width: 32px;
    height: 32px;
    margin-left: 15px;
}

.footer-contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}
.footer-contact-details p{
    color: #488286;
    font-size: 18px;
    margin-top: 3px;
}



